html{
  font-family: helvetica;
  color: seashell;
  background-color: black;
  opacity: .9;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
  }

header{
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
}

header img{
  height: 50px;
  margin-left: 10px;
}

header span{
  text-decoration: underline;
  margin-right: 20px;
  font-size: 20px;
}

header a{
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.banner{
  display: block;
  background-color: black;
  width: 1200px;
  text-align: center;
  margin-top: 50px;
}

.tea{
  display: flex;
  flex-flow: wrap;
  width: 1000px;
  text-align: center;
  justify-content: center;
}

.tea h4{
  margin: 10px;
  padding: 0;
}

.tea img{
  height: 200px;
  width: 300px;
  margin: 10px 10px 0 10px;
}

.location{
  display: block;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  text-align: center;
  margin-top: 50px;
}


.holder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.holder div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 5px 15px;
  text-align: center;
}

#loca{
  margin-top: 50px;
}

.contact{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 200px;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.copyright{
  margin-left: 20px;
}
